
.navbar {
  /* This is a placeholder in case this class is necessary */
}

.navbar-list {
  list-style-type: none;
  margin: 0% 5% 0% 5%;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.navbar-link {
  display: inline;
  float: left;
}

.navbar-link a {
  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-link a:hover {
  background-color: lightgray;
  color: black;
}

body {
  background-color: white;
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 0;
  font-family: arial, sans-serif;
}

.row {
  margin: 0% 5% 0% 5%;
}

#title {
  text-align: center;
}

#about {
  padding: 10px 10px 10px 10px;
  background-color: lightgray;
  text-align: left;
  
}

#projects {
  padding: 10px 10px 10px 10px;
  background-color: lightgray;
  text-align: center;
  margin-top: 10px;
 
}

#contact {
  padding: 10px 10px 10px 10px;
  background-color: lightgray;
  text-align: left;
  margin-top: 10px;
}

.projectdescription {
  margin-top: 20px !important;
  text-align: justify;
}

#legend {
  text-align: center;
}